{% load event_filters %}
<tr class="border-t border-solid border-grey-lighter hover:bg-grey-lightest">
    <td>
        {{ event.id }}
    </td>
    <td>
        <a href="{% url 'edit_event' event_id=event.id site_slug=site.slug language_code=language.code%}" class="block py-3 px-2 text-grey-darkest">
            {{ event|event_translation_title:language }}
        </a>
    </td>
    <td>
        <div class="block py-3 px-2 text-grey-darkest">
            <div class="lang-grid">
                {% for other_language in languages %}
                    <a href="{% url 'edit_event' event_id=event.id site_slug=site.slug language_code=other_language.code%}">
                        <i data-feather="{% if other_language in event.languages %}edit-2{% else %}plus{% endif %}" class="text-grey-darkest"></i>
                    </a>
                {% endfor %}
            </div>
        </div>
    </td>
    <td>
        <!-- TODO: filter location for title in correct language, e.g. event.location|poi_translation_title:language -->
        {{ event.location|title }}
    </td>
    <td>
        {{ event.date|date:'d.m.Y'}}, {{ event.date|time:'H:i' }}
    </td>
    <td class="pl-2 pr-4">
        <!-- TODO: add link to view event in web app -->
        <a href="" class="py-3" style="padding-right:4px;">
            <i data-feather="eye" class="text-grey-darkest"></i>
        </a>
        <a href="{% url 'edit_event' event_id=event.id site_slug=site.slug language_code=language.code %}" class="py-3"
           style="padding-left:4px;padding-right:4px;">
            <i data-feather="edit" class="text-grey-darkest"></i>
        </a>
        <a href="{% url 'delete_event' event_id=event.id site_slug=site.slug language_code=language.code %}" class="py-3"
           style="padding-left:4px;padding-right:4px;">
            <i data-feather="trash-2" class="text-grey-darkest"></i>
        </a>
    </td>
</tr>