<tr class="border-t border-solid border-grey-lighter hover:bg-grey-lightest">
    <td>
        <a href="{% url 'edit_event' event_translation_id=event.id %}" class="block py-3 px-2 text-grey-darkest">
            {{ event.title }}
        </a>
    </td>
    <td>
        <div class="block py-3 px-2 text-grey-darkest">
            <div class="lang-grid">
                <a href="">
                    <i data-feather="plus" class="text-grey-darkest"></i>
                </a>
                <a href="">
                    <i data-feather="edit-2" class="text-grey-darkest"></i>
                </a>
                <a href="">
                    <i data-feather="edit-2" class="text-grey-darkest"></i>
                </a>
                <a href="">
                    <i data-feather="plus" class="text-grey-darkest"></i>
                </a>
            </div>
        </div>
    </td>
    <td>
        <a href="{% url 'edit_event' event_translation_id=event.id %}" class="block py-3 px-2 text-grey-darkest">
            {{ event.location.name }}
        </a>
    </td>
    <td>
        <a href="{% url 'edit_event' event_translation_id=event.id %}" class="block py-3 px-2 text-grey-darkest">
            {{ event.date|date:'d.m.Y'}}, {{ event.date|time:'H:i' }} Uhr
        </a>
    </td>
    <td class="pl-2 pr-4">
        <!-- TODO: add link to view event in web app -->
        <a href="" class="py-3" style="padding-right:4px;">
            <i data-feather="eye" class="text-grey-darkest"></i>
        </a>
        <a href="{% url 'edit_event' event_translation_id=event.id %}" class="py-3"
           style="padding-left:4px;padding-right:4px;">
            <i data-feather="edit" class="text-grey-darkest"></i>
        </a>
        <a href="{% url 'delete_event' event_translation_id=event.id %}" class="py-3"
           style="padding-left:4px;padding-right:4px;">
            <i data-feather="trash-2" class="text-grey-darkest"></i>
        </a>
    </td>
</tr>